<div class="login-wrapper">
  <form [formGroup]="registerForm" (ngSubmit)="register()" class="login" role="form">
    <label class="title">
      Create your Astroshare Account
    </label>
    <p>Creating your account will only take a minute.</p>
    <div class="login-group">
      <div class="error active" *ngIf="error">
        {{error}}
      </div>
      <label for="login_username" aria-haspopup="true" role="tooltip"
             class="tooltip tooltip-top-left tooltip-validation tooltip-md"
             [class.invalid]="registerForm.controls.email.dirty && !registerForm.controls.email.valid">
        <input class="username" type="email" id="login_username" formControlName="email" placeholder="Your email address">
        <span class="tooltip-content">
            Please use a valid email address
        </span>
      </label>
      <label for="login_password" aria-haspopup="true" role="tooltip"
             class="tooltip tooltip-top-left tooltip-validation tooltip-md"
             [class.invalid]="registerForm.controls.password.dirty && !registerForm.controls.password.valid">
        <input class="password" type="password" id="login_password" formControlName="password" placeholder="Your password">
        <span class="tooltip-content">
            Please use a mixture of at least eight upper and lower case characters and numbers
        </span>
      </label>
      <a [routerLink]="['/login']">Already have an account?</a>
      <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid || busy">
        NEXT
        <span class="spinner spinner-inline" *ngIf="busy"></span>
      </button>
    </div>
  </form>
</div>
